<div class="item">
  <a style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active" class="clearfix">
    <div class="pull-left">
      <h3 class="list-group-item-heading product">{{ product.name }}</h3>
      <p class="desc">{{ product.description }}</p>
      <p>Amount:{{ product.availableAmount }}</p>
      <p>Price:{{ product.price }}$</p>
    </div>
    <div class="image">
      <img [src]="product.imgUrl" alt="{{ product.name }}" class="img-responsive text" style="max-height: 100px">
    </div>
  </a>
</div>